<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wizard.persistence.trade.BuyRecordMapper" >

    <sql id="buyRecordParams">

        <where>

            <if test="id != null">
                and id = #{id}
            </if>

            <if test="symbol != null and symbol!=''">
                and symbol = #{symbol}
            </if>

            <if test="orderId != null and orderId!=''">
                and   order_id = #{orderId}
            </if>

            <if test="status != null">
                and status = #{status}
            </if>

            <if test="beginCreateTime != null and beginCreateTime != ''" >
                <![CDATA[
                 and create_time >= #{beginCreateTime}
                 ]]>
            </if>
            <if test="endCreateTime != null and endCreateTime != ''" >
                <![CDATA[
                 and create_time <= #{endCreateTime}
                ]]>
            </if>

            <if test="beginUpdateTime != null and beginUpdateTime != ''" >
                <![CDATA[
                 and update_time >= #{beginUpdateTime}
                 ]]>
            </if>
            <if test="endUpdateTime != null and endUpdateTime != ''" >
                <![CDATA[
                 and update_time <= #{endUpdateTime}
                ]]>
            </if>

        </where>

    </sql>

    <sql id="buySellHistoryRecordParams">

        <where>

            <if test="symbol != null and symbol!=''">
                and symbol = #{symbol}
            </if>

            <if test="buyOrderId != null and buyOrderId!=''">
                and buy_order_id = #{buyOrderId}
            </if>

            <if test="sellOrderId != null and sellOrderId!=''">
                and sell_order_id = #{sellOrderId}
            </if>

            <if test="orderId != null and orderId!=''">
                and ( sell_order_id = #{orderId} or  buy_order_id = #{orderId})
            </if>

            <if test="type != null">
                and type = #{type}
            </if>

            <if test="beginCreateTime != null and beginCreateTime != ''" >
                <![CDATA[
                 and create_time >= #{beginCreateTime}
                 ]]>
            </if>
            <if test="endCreateTime != null and endCreateTime != ''" >
                <![CDATA[
                 and create_time <= #{endCreateTime}
                ]]>
            </if>

        </where>

    </sql>

    <select id="getBuyRecord" resultType="com.wizard.model.BuyRecordModel">
        select * from tb_buy_record
        <include refid="buyRecordParams"/>

        order by id desc

        <if test="startIndex != null">
            LIMIT #{startIndex}, #{pageSize}
        </if>

        <if test="startIndex == null">
            LIMIT 1
        </if>

    </select>

    <select id="getBuyRecordCount" resultType="java.lang.Integer">
        select count(*) from tb_buy_record
        <include refid="buyRecordParams"/>
    </select>

    <select id="getBuySellHistoryRecordCount" resultType="java.lang.Integer">
        select count(*) from tb_buy_sell_history_record
        <include refid="buySellHistoryRecordParams"/>
    </select>

    <select id="getBuySellHistoryRecord" resultType="com.wizard.model.BuySellHistoryRecordModel">
        select * from tb_buy_sell_history_record
        <include refid="buySellHistoryRecordParams"/>
        order by id desc

        <if test="startIndex != null">
            LIMIT #{startIndex}, #{pageSize}
        </if>

    </select>

    <delete id="delById">
      DELETE from tb_buy_record WHERE id=#{id}
    </delete>

    <insert id="insertHistory">

        insert into tb_buy_sell_history_record(symbol,`type`,oper_type,buy_price,sell_price,buy_order_id,sell_order_id,amount,oper_index,create_time)
        values (#{symbol},#{type},#{operType},#{buyPrice},#{sellPrice},#{buyOrderId},#{sellOrderId},#{amount},#{operIndex},now())

    </insert>

</mapper>