<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wizard.persistence.trade.KlineMapper" >

    <select id="getKline" resultType="java.util.Map">

        select * from tb_kline_record where symbol=#{symbol} and create_time >= #{beginTime} and #{endTime} >= create_time

    </select>
</mapper>