<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wizard.persistence.trade.TransactionConfigMapper" >

    <sql id="transactionConfigRecordParams">

        <where>

            <if test="symbol != null and symbol != ''">
                and symbol = #{symbol}
            </if>

            <if test="status != null">
                and status = #{status}
            </if>

            <if test="id != null">
                and id = #{id}
            </if>

        </where>

    </sql>

    <select id="getTransactionConfigRecord" resultType="com.wizard.model.TransactionConfigModel">
        select * from tb_transaction_config
        <include refid="transactionConfigRecordParams"></include>
        order by id desc

        <if test="startIndex != null">
            LIMIT #{startIndex}, #{pageSize}
        </if>

        <if test="startIndex == null">
            LIMIT 1
        </if>
    </select>

    <select id="getTransactionConfigRecordCount" resultType="java.lang.Integer">
        select count(*) from tb_transaction_config
        <include refid="transactionConfigRecordParams"></include>
    </select>

    <update id="modTransactionConfigModel">

        update tb_transaction_config
        <set>
            <if test="everyExpense != null">
                every_expense = #{everyExpense},
            </if>

            <if test="tradeGap != null">
                trade_gap = #{tradeGap},
            </if>

            <if test="minIncome != null">
                min_income = #{minIncome},
            </if>

            <if test="precision != null">
                `precision` = #{precision},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="stopLoss != null">
                stopLoss = #{stopLoss},
            </if>

            <if test="period != null and period!= ''">
                period = #{period},
            </if>

            <if test="symbol != null and symbol!= ''">
                symbol = #{symbol},
            </if>
        </set>

        where id=#{id}

    </update>

    <insert id="addRecord">
      insert into tb_transaction_config(symbol,every_expense,trade_gap,min_income,period,`precision`,stopLoss,status) VALUES
      (#{symbol},#{everyExpense},#{tradeGap},#{minIncome},#{period},#{precision},#{stopLoss},#{status})
    </insert>


</mapper>