

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 内容系统 - 文章列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/modules/laydate/default/laydate.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单Id</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderId" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">交易时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test-laydate-range-datetime" placeholder="yyyy-MM-dd HH:mm:ss" lay-key="7">
                    </div>
                </div>

                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">交易对</label>
                    <div class="layui-input-inline">
                        <select id="symbolSelect" name="label">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select id="statusSelect" name="label">
                            <option value="">请选择</option>
                            <option value="1">正常</option>
                            <option value="2">止损</option>
                            <option value="3">等待买</option>
                            <option value="4">等待卖</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
            <script type="text/html" id="table-content-list">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
            <script type="text/html" id="statusTpl">

                {{#  if(d.status == 0){ }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">正常</button>
                {{#  } else if(d.status == 1) { }}
                <button class="layui-btn layui-btn-danger layui-btn-xs">止损</button>
                {{#  } else if(d.status == 2) { }}
                <button class="layui-btn layui-btn-normal layui-btn-xs">等待买</button>
                {{#  } else if(d.status == 3) { }}
                <button class="layui-btn layui-btn-normal layui-btn-xs">等待卖</button>
                {{#  } else if(d.status == 4) { }}
                <button class="layui-btn layui-btn-xs">挂单</button>
                {{#  } }}

            </script>
        </div>
    </div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'table',"laydate"], function(){
        var table = layui.table
            ,form = layui.form;
        var laydate = layui.laydate;

        //日期时间选择器
        laydate.render({
            elem: '#test-laydate-range-datetime'
            ,type: 'datetime'
            ,range: true
        });

        var form = layui.form;

        layui.$.ajax({
            url: '/transactionConfig/getSymbolSelectDate',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.resultList, function (index, item) {
                    $('#symbolSelect').append(new Option(item.value, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('LAY-app-content-list', {
                where: field
            });
        });

        var $ = layui.$, active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('LAY-app-content-list')
                    ,checkData = checkStatus.data; //得到选中的数据

                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }

                layer.confirm('确定删除吗？', function(index) {

                    //执行 Ajax 后重载
                    /*
                    admin.req({
                      url: 'xxx'
                      //,……
                    });
                    */
                    table.reload('LAY-app-content-list');
                    layer.msg('已删除');
                });
            },
            add: function(){
                layer.open({
                    type: 2
                    ,title: '添加文章'
                    ,content: 'listform.html'
                    ,maxmin: true
                    ,area: ['550px', '550px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        //点击确认触发 iframe 内容中的按钮提交
                        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
                        submit.click();
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-list').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>
