
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/echarts/echarts.min.js"></script>
   
</head>
<body>
    <div id="main" style="width: 100%;height:500px;"></div>
    
     <script type="text/javascript" src="../js/kLine.js"></script>
     
     <a href="/views/tradeBuy.html">买记录</a>
	<a href="/views/tradeRecord.html">交易记录</a>
	<a href="/views/kLine.html">kLine</a>
</body>

</html>