<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 内容系统 - 文章列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/modules/laydate/default/laydate.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">交易对</label>
                    <div class="layui-input-inline">
                        <select id="symbolSelect" name="symbol">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-config-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-app-sell-order-list" lay-filter="LAY-app-sell-order-list"></table>
            <script type="text/html" id="table-sell-order-list">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-delete"></i>撤单</a>
            </script>
        </div>
    </div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', "laytpl"], function () {
        var table = layui.table
            , form = layui.form, laytpl = layui.laytpl;

        table.render({
            elem: "#LAY-app-sell-order-list",
            url: "/sellOrderRecord/getSellOrderRecord",
            cols: [[{
                field: "id",
                title: "id"
            }, {
                field: "symbol",
                title: "交易对",
                minWidth: 100
            }, {
                field: "buyPrice",
                title: "买价格",
                width: 100
            }, {
                field: "sellPrice",
                title: "卖价格",
                width: 100

            }, {
                field: "buyIndex",
                title: "买入时间",
                minWidth: 180
            }, {
                field: "sellIndex",
                title: "卖出时间",
                width: 180
            }, {
                field: "buyOrderId",
                title: "买入订单ID",
                width: 150
            }, {
                field: "sellOrderId",
                title: "卖出订单ID",
                width: 150
            }, {
                field: "amount",
                title: "数量",
                width: 100
            }, {
                field: "createTime",
                title: "创建时间",
                width: 180
            }, {
                title: "操作",
                minWidth: 150,
                align: "center",
                fixed: "right",
                toolbar: "#table-sell-order-list"
            }]],
            page: true,
            limits: [10, 15, 20, 25, 30],
            text: "对不起，加载出现异常！",
            parseData: function (res) { //res 即为原始返回的数据
                for (var i = 0; i < res.resultList.length; i++) {

                    res.resultList[i].createTime = renderTime(res.resultList[i].createTime)
                    res.resultList[i].buyIndex = formatDate(res.resultList[i].buyIndex * 1000)
                    res.resultList[i].sellIndex = formatDate(res.resultList[i].sellIndex * 1000)
                }

                return {
                    "code": res.code, //解析接口状态
                    "msg": res.description, //解析提示文本
                    "count": res.totalCount, //解析数据长度
                    "data": res.resultList //解析数据列表
                };
            }, request: {
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
        }),
            table.on("tool(LAY-app-sell-order-list)", function (t) {
                var e = t.data;

                if ("edit" === t.event) {
                }

            }),


            layui.$.ajax({
                url: '/transactionConfig/getSymbolSelectDate',
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    layui.$.each(data.resultList, function (index, item) {
                        layui.$('#symbolSelect').append(new Option(item.value, item.id));// 下拉菜单里添加元素
                    });
                    layui.form.render("select");
                }
            })

        //监听搜索
        form.on('submit(LAY-app-config-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-app-sell-order-list', {
                where: field
            });
        });

    });

    function renderTime(date) {
        var dateee = new Date(date).toJSON();
        return new Date(+new Date(dateee) + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')
    }

    function formatDate(date) {
        var date = new Date(date);
        var YY = date.getFullYear() + '-';
        var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
        var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
        return YY + MM + DD +" "+hh + mm + ss;
    }
</script>
</body>
</html>
